*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.home{
    background: url(https://amore-architecture.vn/uploads/duan/dze1452006444.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* start navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky {
    padding: 15px 100px;
    background-color: #FFF;
}
header .nav-logo {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header .nav-logo-img {
    height: auto;
    width: 100px;
}
header ul {
    position: relative;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;

}
.mega-menu {
    position: absolute;
    background-color: #FFF;
    left: 0;
    top: 50px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    z-index: 100000;
}
header ul li a {
    position: relative;
    margin: 0 25px;
    text-decoration: none;
    color: #FFF;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.6s;
    font-size: 20px;
}
header ul li a:hover {
    color: #000;
    text-decoration: none;
}
header.sticky .nav-logo, header.sticky ul li a {
    color: #000;
}
.site-nav_link{
    color: #b3b3b3;
}
header .nav-icon-cart-quanti {
    color: #b3b3b3;
    border: 1px solid #FFF;
}
header .login, .dropdown,.btn-secondary .dropdown-toggle {
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 10px;
}
.dropdown-item{
    color: #b3b3b3;
    background: #00000000;
}
div.dropdown-menu.show,div.dropdown.show,#dropdownMenuLink{
    color: #b3b3b3;
    border: 1px solid #000;
    background: #00000000;
}
header .login:hover ,.dropdown-item:hover, div.dropdown:hover,div.dropdown-menu.show:hover{
    background-color: #000;
    color: #b3b3b3;
    border: 1px solid #000;
}
header .search-icon,header .cart {
    color:#b3b3b3;
}
header.sticky .search-icon,header.sticky .cart {
    color:#000;
}
header.sticky .nav-icon-cart-quanti {
    color: #000;
    border: 1px solid black;
}
header.sticky a.dropdown-item{
    color: #000;
}
header.sticky .login, header.sticky div.dropdown-menu.show,header.sticky div.dropdown.show,header.sticky #dropdownMenuLink {
    border: 1px solid #000;
    color: #000;
}
header.sticky .site-nav_link:hover{
    color: #b3b3b3;
}
header.sticky .login:hover ,header.sticky .dropdown-item:hover,header.sticky #dropdownMenuLink:hover{
    border: 1px solid #000;
    color: #b3b3b3;
}
.nav-banner {
    position: relative;
    width: 100%;
    min-height: 900px;
    background: url(logo1.jpg);
    background-size: cover;
}


/* end navigation */
.modal-body .search:focus {
    width: 600px;
}

/* end madal */

.news {
    min-height: 700px;
    padding-top: 130px;
    background-color: #FFF;
}
.titleNews {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
}
.salenews{
    display: flex;
    align-items: center;
    width: 100%;
}
.img-news {
    display: flex;
    align-items: center;
    width: 70%;
}
#form-control1 {
    width: 90%;
    display: inline-block;
}
#form-control1:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}
#form-control1::placeholder {
    font-size: 30px;
    color: #aaa;
    font-style: italic;
}
/* end News */

.slogan {
    height: 900px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: black;
    opacity: .7;
}
.slogan .slogan-text p{
    color: #FFF;
    font-size: 40px;
}
/* end slogan */

.gallery-cate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    min-height: 700px;
}
.gallery-cate a {
    text-decoration: none;
}
.gallery-title {
    min-height: 150px;
    width: 300px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.gallery-title p {
    font-size: 30px;
    font-weight: 600;
    color: #FFF;

}
.img-gallery {
    height: auto;
    width: 300px;
    display: flex;
    align-items: center;
}
/* end gallery-cate */
.album > div {
    padding: 0 4px !important;
}

img {
    margin-top: 8px;
    vertical-align: middle;

}
/* end album  */
.shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding-top: 10px;
    min-height: 300px;
}

/* end shipping */

.page-footer > a {
    text-decoration: none;
}
