.profile *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.profile .row-card {

    border-radius: 25px;
    border: 1px solid rgb(210, 203, 203);
}
.profile img {
    border-radius: 50%;
    margin: 0 auto;
    max-width: 70px !important;
    height: 70px !important;
    float: right;

}
.profile .as {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile #email-error {
    color: red;
}
.profile #password-error {
    color: red;
}
.profile #pro-name-error, #pro-email-error, #pro-phone-error, #pro-address-error, #pass-old-error, #pass-new-error, #pass-confirm-error {
    color: red;
}
.profile .type-input {
    border: none;

}
.pr .type-text {
    margin-top: 7px;
}
.pr nav{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

}
.pr nav .color a {
    text-decoration: none;
    color: #999;
}
.pr nav a{
    text-decoration: none;
    color: #999;
    font-size: 20px;
}
.pr nav .login{
    color: #999;border-color: #999;
}