*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(206, 216, 216);
}
.row {
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 22px 22px grey;
}
img {
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    max-width: 300px !important;

}
.as {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.login-btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.login-btn:hover {
    background-color: #FFF;
    color: black;
    border: 2px solid;
}
#email-error {
    color: red;
}
#password-error {
    color: red;
}
.pro-title {
    text-transform: uppercase;
}
#pro-name-error, #pro-email-error, #pro-phone-error, #pro-address-error, #pass-old-error, #pass-new-error, #pass-confirm-error {
    color: red;
}
