<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/main_layout/main}">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body class="ab">
    <div layout:fragment="contents" style="margin-top: 100px;">
        <div class="about">
            <div class="container-fluid">
                <section>
                    <div class="image">
                        <!--Image here-->

                    </div>
                    <div class="content">
                        <h2>About Us</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur corporis consequatur, eligendi cum dignissimos odit sed vitae dicta eos pariatur suscipit quod animi, veritatis minus quisquam nostrum at aliquid doloribus.</p>
                        <ul class="icon">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="team-section">
                    <h1>Our team</h1>
                    <span class="border"></span>
                    <div class="ps">
                        <a href="#p1"><img src="/main/home/about/p1.jpg" alt="" ></a>
                        <a href="#p2"><img src="/main/home/about/p2.jpg" alt="" ></a>
                        <a href="#p3"><img src="/main/home/about/p3.jpg" alt="" ></a>
                        <a href="#p4"><img src="/main/home/about/p4.jpg" alt="" ></a>
                        <a href="#p5"><img src="/main/home/about/p5.jpg" alt="" ></a>
                    </div>
                    <div class="section" id="p1">
                        <span class="name">Nguyen Cong thanh</span>
                        <span class="border"></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, hic cum, omnis perspiciatis odit, nesciunt earum expedita ut quas ipsa optio autem! Saepe sed deserunt earum magnam, quis officiis dignissimos.</p>
                    </div>

                    <div class="section" id="p2">
                        <span class="name">Le Ngoc Khanh Toan</span>
                        <span class="border"></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, hic cum, omnis perspiciatis odit, nesciunt earum expedita ut quas ipsa optio autem! Saepe sed deserunt earum magnam, quis officiis dignissimos.</p>
                    </div>

                    <div class="section" id="p3">
                        <span class="name">Duong Gia Bao</span>
                        <span class="border"></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, hic cum, omnis perspiciatis odit, nesciunt earum expedita ut quas ipsa optio autem! Saepe sed deserunt earum magnam, quis officiis dignissimos.</p>
                    </div>

                    <div class="section" id="p4">
                        <span class="name">Nguyen Tan Tai</span>
                        <span class="border"></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, hic cum, omnis perspiciatis odit, nesciunt earum expedita ut quas ipsa optio autem! Saepe sed deserunt earum magnam, quis officiis dignissimos.</p>
                    </div>

                    <div class="section" id="p5">
                        <span class="name">Le Tuan Minh</span>
                        <span class="border"></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, hic cum, omnis perspiciatis odit, nesciunt earum expedita ut quas ipsa optio autem! Saepe sed deserunt earum magnam, quis officiis dignissimos.</p>
                    </div>
                </div>

        </div>
    </div>
</body>
</html>