<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/main_layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
</head>
<body class="ab">
    <div layout:fragment="contents">
        <div class="about">
            <div class="container-fluid">
                <section>
                    <div class="image"></div>
                    <div class="content">
                        <h2>About Us</h2>
                        <span></span>
                        <p>We T3MB Decor can provide to the clients the most gorgeous furnitures they could ever find. We can make your house a ground-paradise.</p>
                        <ul class="icon">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="team-section">
                <h1>Our team</h1>
                <span class="border"></span>
                <div class="tab">
                    <a class="tablinks" onclick="openCity(event, 'p1')"><img class="ima" src="/main/home/about/p1.jpg" alt="" ></a>
                    <a class="tablinks" onclick="openCity(event, 'p2')"><img class="ima" src="/main/home/about/p2.jpg" alt="" ></a>
                    <a class="tablinks" onclick="openCity(event, 'p3')"><img class="ima" src="/main/home/about/p3.jpg" alt="" ></a>
                    <a class="tablinks" onclick="openCity(event, 'p4')"><img class="ima" src="/main/home/about/p4.jpg" alt="" ></a>
                    <a class="tablinks" onclick="openCity(event, 'p5')"><img class="ima" src="/main/home/about/p5.jpg" alt="" ></a>
                </div>

                <div id="p1" class="tabcontent">
                    <h3>Nguyen Cong Thanh</h3>
                    <p>Student ID - 517H0084</p>
                    <p>Phone number - 0907.986.613</p>
                    <p>Email - 517H0084@student.tdtu.edu.vn</p>
                </div>
                <div id="p2" class="tabcontent">
                    <h3>Le Ngoc Khanh Toan</h3>
                    <p>Student ID - 517H0090</p>
                    <p>Phone number - 0979.036.420</p>
                    <p>Email - 517H0090@student.tdtu.edu.vn</p>
                </div>
                <div id="p3" class="tabcontent">
                    <h3>Duong Gia Bao</h3>
                    <p>Student ID - 517H0036</p>
                    <p>Phone number - 0773.787.085</p>
                    <p>Email - 517H0036@student.tdtu.edu.vn</p>
                </div>
                <div id="p4" class="tabcontent">
                    <h3>Nguyen Tan Tai</h3>
                    <p>Student ID - 51702227</p>
                    <p>Phone number - 0707.336.606</p>
                    <p>Email - 51702227@student.tdtu.edu.vn</p>
                </div>
                <div id="p5" class="tabcontent">
                    <h3>Le Tuan Minh</h3>
                    <p>Student ID - 517H0066</p>
                    <p>Phone number - 0913.205.175</p>
                    <p>Email - 517H0066@student.tdtu.edu.vn</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>