<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/main_layout/main}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .ca{
            z-index: 1;
        }
    </style>
    <script>
    $(document).ready(function(){
        $('input[id="discounts"]').attr('disabled',true);
        $('input[id="discount"]').on('keyup',function (){
            if($(this).val().length>=8){
                $('input[id="discounts"]').attr('disabled',false);
            }
            else{
                $('input[id="discounts"]').attr('disabled',true);
            }
        });
    });
    </script>
</head>

<body class="ca">
    <div layout:fragment="contents" style="margin-bottom: 40px">
            <div class="carts">
                <section class="form-section">
                    <div class="container-fluid">
                        <div th:if="${errorProduct != null}" style="z-index: 2 ;position: absolute;bottom: 0;left: 5px;">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"  >
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <span th:text="${errorProduct}"> </span>
                            </div>
                        </div>
                        <div th:if="${updateCart != null}" style="z-index: 2 ;position: absolute;bottom: 0;left: 5px;">
                            <tr>
                                <div class="alert alert-success alert-dismissible fade show" role="alert"  >
                                    <i class="fas fa-check"> </i>
                                    <span th:text="${updateCart}"> </span>
                                </div>
                            </tr>
                        </div>
                        <script>
                            $(".alert").fadeTo(3000, 500).slideUp(500, function(){
                                $(".alert").slideUp(500);
                            });
                        </script>
                        <div class="row" style="min-height: 650px">
                            <div class="col-md-7" style="padding-top:10px; background-color: white; border-radius: 20px; margin: 20px; margin-left: 50px; position: absolute">
<!--                                <h5 class="text-center" >MY SHOPPING CART</h5>-->
<!--                                <hr id="text1">-->
                                <table class="table1" id = "tableList">
                                    <form action="#" th:action="@{/cart/update}" th:object="${listCart}" method="post">
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                        <th class="p-0"><button type="submit" id="submitButton" class="btn btn-outline-success border-0" ><i class="far fa-edit"></i></button></th>
                                    </tr>

                                        <fieldset>
                                            <tr th:each ="c, custStat : ${listCart.lCarts}">
                                                <td>
                                                    <div class="row cart-info">
                                                        <div class="col-lg-5" th:with="img=${listImg.get(custStat.index).getModifiedFileName()}">
                                                            <img id="img" th:src="@{${'/images/' + img}}" width="150px" height="150px">
                                                        </div>
                                                        <div class="col-lg-7 info">
                                                            <input type="hidden"  th:value="${c.getProduct_cart().getId()}"/>
                                                            <input type="hidden"  th:value="${c.getProduct_cart().getName()}"/>
                                                            <h5 style="word-break: break-word;" th:text="${c.getProduct_cart().getName()}"> </h5>
                                                            <p style="font-weight: bold;" th:text="${'$ '+c.getProduct_cart().getPrice()} +'.00'"></p>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width: 150px;"><input type="number"  th:name="|lCarts[${custStat.index}].quantity|" th:value="${c.getQuantity()}" min="1"></td>
                                                <td style="width: 150px; font-weight:bold; font-size: 24px;" th:text="${'$' + c.getProduct_cart().getPrice() * c.getQuantity()} +'.00'"></td>
                                                <td><a th:href="@{/cart/{id}(id = ${c.getProduct_cart().getId()})}"><button type="button" class="btn btn-outline-danger border-0 rounded-circle" ><i style="font-size:16px;" class="fas fa-times"></i></button></a></td>
                                            </tr>
                                        </fieldset>
                                    </form>
                                </table>
                            </div>
                            <div class="col-md-4" style="padding-bottom: 30px; padding-top:10px; background-color: white; border-radius: 20px; margin: 20px; margin-right: 50px; position: absolute; right: 0">
<!--                                <hr>-->
                                <p><span><b>Name: </b></span>
                                    <span th:text="${order.getUser().getName()}"></span></p>
                                <p><span><b>Email: </b></span>
                                    <span th:text="${order.getUser().getEmail()}"></span></p>
                                <p><span><b>Address: </b></span>
                                    <span th:text="${order.getUser().getAddress()}"></span></p>
                                <p><span><b>Phone: </b></span>
                                    <span th:text="${order.getUser().getPhone()}"></span></p>
                                <hr>
<!--                                <h5 class="text-center">TOTAL ORDER</h5>-->
                                <form action="#" th:action="@{/order}" th:object="${order}" method="post">
<!--                                <h6>Do you have promo code?</h6>-->
                                    <div class="row">
                                        <div class="col-md-8">
                                            <th:block th:if="${diss != null}">
                                                <input type="text" class="form-control" placeholder="Promo code" id="discount" th:field="*{discount.name}" readonly>
                                            </th:block>
                                            <th:block th:unless="${diss != null}">
                                                <input type="text" class="form-control" placeholder="Promo code" id="discount" th:field="*{discount.name}">
                                            </th:block>
                                            <div th:if="${error != null}">
                                                <div class="alert alert-danger" role="alert" th:text="${error}" style="margin-top: 5px"> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <th:block th:if="${diss != null}">
                                                <a th:href="@{/cart}" >
                                                    <input type="button" class=" form-control btn btn-outline-danger" value="Cancel">
                                                </a>
                                            </th:block>
                                            <th:block th:unless="${diss != null}">
                                                <input type="submit" id = "discounts" class=" form-control btn btn-outline-secondary" value="Apply">
                                            </th:block>

                                        </div>
                                    </div>
                                    <table class="table table-borderless">
                                        <tr>
                                            <td><h6>Subtotal</h6></td>
                                            <input type="hidden" th:field="*{order_product}">
                                            <input type="hidden" th:field="*{user}">
                                            <input type="hidden" th:field="*{subTotal}">
                                            <td th:text="*{'$' +subTotal + '.00'}"></td>
                                        </tr>
                                        <tr>
                                            <td><h6>Promo code</h6></td>
                                            <input type="hidden" th:field="*{discount}">
                                            <td th:text="*{discount.getPercent() + ' %'}"></td>
                                        </tr>
                                        <tr>
                                            <td><h4>Total</h4></td>
                                            <input type="hidden" th:field="*{total}" th:value="*{total}">
                                            <td><h4 th:text="*{'$' + total + '.00'}"></h4></td>
                                        </tr>
                                    </table>
                                    <input type="submit" class=" form-control btn btn-dark" value="ORDER">
                                </form>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
    </div>
    </div>
</body>

</html>