<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout/main}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main/collection/list_product.css}">
    <title>Collections</title>
</head>
<body>
    <div layout:fragment="contents" style="margin: 50px 0 75px">
        <div class="container my-3">
            <div class="my-0 mx-auto w-50">
                <form action="#" th:action="@{/search}" method="get">
                    <div class="input-group mb-3">
                        <input type="text" name = "productSearch" th:value="${productSearch}" placeholder="Enter product" style="border-radius: 5px" class="form-control" aria-label="Text input with dropdown button">
                        <button class="btn btn-navbar" type="submit" style="border: 0.5px solid #c9c9c9">
                            <i class="fas fa-search"></i>
                        </button>
                        <div class="input-group-prepend" style="margin-left: 20px">
                            <label>Price</label>
                            <select class="form-select" id = "priceSearch" name = "priceSearch" aria-label="Default select example">
                                <option th:selected="${#strings.equals(priceSearch,'All')}" >All</option>
                                <option th:selected="${#strings.equals(priceSearch,'0-500')}" value="0-500">0-500</option>
                                <option th:selected="${#strings.equals(priceSearch,'500-2000')}" value="500-2000">500-2000</option>
                                <option th:selected="${#strings.equals(priceSearch,'2000-5000')}" value="2000-5000">2000-5000</option>
                            </select>
                        </div>
                        <div class="input-group-prepend" style="margin-left: 10px">
                            <label>Brand</label>
                            <select class="form-select" name = "brandSearch"  aria-label="Default select example">
                                <option selected>All</option>
                                <option th:each ="brand: ${listBrand}"
                                        th:value= "${brand.id}"
                                        th:text = "${brand.name}"
                                        th:selected="${#strings.equals(brandSearch, #strings.toString(brand.id))}">

                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">

            <div  class="row">
                <div class="col-lg-3" th:each="pro, custStat : ${productList}">
                    <div class="card">
                        <a th:href="@{/product/{id}(id = ${pro.id})}" style="text-decoration: none;">
                            <div th:with="img=${listImg.get(custStat.index).getModifiedFileName()}">
                                <img id="img" th:src="@{${'/images/' + img}}">
                            </div>

                            <div class="info">
                                <p id="title" th:text="${pro.name}"></p>
                            </div>
                        </a>
                        <div class="row" style="padding-left: 10px">
                            <div class="col-lg-6">
                                <div class="buy">
                                    <span id="price">$ <span  th:text="${pro.price}"></span></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div th:if="${user != null}">
                                    <div th:if="${listWishList.get(custStat.index) == '1'}">
                                        <a th:href="@{/wishlist/delete/{id}(id = ${pro.id})}" class="like heart"  id="btn_heart">
                                            <i class="fa fa-heart"  aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div th:unless="${listWishList.get(custStat.index) == '1'}">
                                        <a th:href="@{/wishlist/add/{id}(id = ${pro.id})}" id="btn_heart" class="like" style="text-decoration: none;">
                                            <i class="fa fa-heart"  aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
