<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout/main}">
<head>
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Profile</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->


</head>
<body class="pr">
<div layout:fragment="contents">
    <div class="profile">
        <section class="Form m-5">
            <div class="container">
                <h5 class="mb-4 mt-3" style="text-align: center;">Basic info, like your name and photo, that you use on TeMB services</h5>
                <div class="row row-card no-gutters mt-2">
                    <div class="col-lg-12 px-5 pt-5 pb-2">
                        <h4>Profile</h4>
                        <hr>
                        <form action="" id="pro-form" th:object="${InfoUser}" method="post">
                            <div class="row  mt-2">
                                <div class="col-lg-3">
                                    <label for="pro-name" class="type-text">Name</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" th:field="*{name}" class="form-control type-input" id="pro-name" name="name" placeholder="Your name">
                                </div>
                            </div>
                            <hr>
                            <div class="row  mt-2">
                                <div class="col-lg-3">
                                    <label for="pro-name" class="type-text">Email</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="email" th:field="*{email}" class="form-control type-input" id="pro-email" name="email" placeholder="Your email">
                                </div>
                            </div>
                            <hr>
                            <div class="row  mt-2">
                                <div class="col-lg-3">
                                    <label for="pro-name" class="type-text">Phone</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" th:field="*{phone}" class="form-control type-input" id="pro-phone" name="phone" placeholder="Your phone">
                                </div>
                            </div>
                            <hr>
                            <div class="row  mt-2">
                                <div class="col-lg-3">
                                    <label for="pro-name" class="type-text">Address</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" th:field="*{address}" class="form-control type-input" id="pro-address" name="address" placeholder="Your address">
                                </div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="submit" class="btn btn-dark p-2 m-2">Update Info</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row row-card no-gutters mt-5">
                    <div class="col-lg-12 px-5 pt-5 pb-2">
                        <h4>Password</h4>
                        <hr>
                        <form action="" id="pass-form">
                            <div class="row  mt-2">
                                <div class="col-lg-3">
                                    <label for="pro-name" class="type-text">Old password</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control type-input" id="pass-old" name="oldpass" placeholder="Old passowrd">
                                </div>
                            </div>
                            <hr>
                            <div class="row  mt-2">
                                <div class="col-lg-3">
                                    <label for="pro-name" class="type-text">New password</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control type-input" id="pass-new" name="newpass" placeholder="New password">
                                </div>
                            </div>
                            <hr>
                            <div class="row  mt-2">
                                <div class="col-lg-3">
                                    <label for="pro-name" class="type-text">Confirm new  password</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control type-input" id="pass-confirm" name="comfirmpass" placeholder="Confirm new password">
                                </div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-dark p-2 m-2">Update Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/main/profile/profile-validate.js"></script>
</div>
</body>
</html>