<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout/main}">
<head>
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>your history</title>
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>-->

</head>
<body class="pr">
<div layout:fragment="contents">
    <section class="Form m-5">
        <div class="profile">
            <div class="container">
        <h5 class="mb-4 mt-3" style="text-align: center;">Basic info, like your order, total price, status and date, that you use on TeMB services</h5>
        <div class="row row-card no-gutters mt-2">
            <div class="col-lg-12 px-5 pt-5 pb-2">
                <h4>Purchase history</h4>
                <p>Some info may be visible to order people using TeMB services.</p>
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Detail</th>
                    </tr>
                    </thead>
                    <tbody th:each="his, custStat : ${history}">
                    <tr>
                        <th scope="row" th:text="${custStat.index + 1}"></th>
                        <td th:text="${his.getCreatedAt()}"></td>
                        <div th:if="${his.getStatus() == 0}">
                            <td>
                                <div class="alert alert-danger" style="width: 45%" >Waiting</div>
                            </td>
                        </div>
                        <div th:unless="${his.getStatus() == 0}">
                            <td>
                                <div class="alert alert-success" style="width: 45%">Finished</div>
                            </td>
                        </div>
                        <td th:text="${ '$' + his.getTotal() + '.00'}"></td>
                        <td>
                            <a th:href="@{/history/{id}(id = ${his.id})}" style="text-decoration: none; color:black">
                                <div class="alert alert-primary" style="width: 45%">
                                    Details
                                </div>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
        </div>
</section>
</div>
<script src="profile-validate.js"></script>
</body>
</html>