<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout/main}">
<head>
    <title>Order History</title>
</head>
<body class="pr">
<div layout:fragment="contents">
    <section class="Form m-5">
        <div class="profile">
            <div class="container">
        <div class="row row-card no-gutters mt-2">
            <div class="col-lg-12 px-5 pt-5 pb-2" style="background-color: white; border-radius: 30px">
                <h4 class="mb-3">Order history</h4>
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Detail</th>
                    </tr>
                    </thead>
                    <tbody th:each="his, custStat : ${history}">
                    <tr>
                        <th scope="row" th:text="${custStat.index + 1}"></th>
                        <td th:text="${his.getCreatedAt()}"></td>
                        <div th:if="${his.getStatus() == 0}">
                            <td>
                                <div class="alert alert-danger" style="width: fit-content" >Pending</div>
                            </td>
                        </div>
                        <div th:unless="${his.getStatus() == 0}">
                            <td>
                                <div class="alert alert-success" style="width: fit-content">Approved</div>
                            </td>
                        </div>
                        <td th:text="${ '$' + his.getTotal() + '.00'}"></td>
                        <td>
                            <a th:href="@{/history/{id}(id = ${his.id})}" style="text-decoration: none; color:black; font-weight: bold">
                                <div class="alert alert-primary" style="width: fit-content">
                                    Details
                                </div>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
        </div>
</section>
</div>
<script src="profile-validate.js"></script>
</body>
</html>