<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="left-nav" th:fragment="left-nav">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:href="@{/admins/order}" class="brand-link">
            <img th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Admin T3MB</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image" style="padding-top: 9px;">
                    <img th:src="@{/admin/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">

                </div>
                <div class="info">
<!--                    <a href="#" class="d-block">Thanh nguyen</a>-->
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview " >
                                <a href="#" class="nav-link ">
                                <p>
                                    <span sec:authentication ="principal.username">user</span>

                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/profile}" class="nav-link active">
                                        <i class="far fa-user nav-icon"></i>
                                        <p>Information</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/home}" class="nav-link ">
                                        <i class="fas fa-home"></i>
                                        <p>Home</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/logout}" class="nav-link">
                                        <i class="far fa-list-alt nav-icon"></i>
                                        <p>Logout</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview mysale_click" >
                        <a href="#" class="nav-link mysale_click">
                            <i class="nav-icon fas fa-desktop"></i>
                            <p>
                                My Sales
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admins/order}" class="nav-link order_click">
                                    <i class="far fa-list-alt nav-icon"></i>
                                    <p>Orders</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admins/user}" class="nav-link customer_click">
                                    <i class="far fa-user nav-icon"></i>
                                    <p>Users</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-treeview catalog_click">
                        <a href="#" class="nav-link catalog_click">
                            <i class="nav-icon fas fa-address-book"></i>
                            <p>
                                Catalog
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admins/product}" class="nav-link product_click">
                                    <i class="fas fa-barcode nav-icon"></i>
                                    <p>Product</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admins/color}" class="nav-link color_click">
                                    <i class="fas fa-broom nav-icon"></i>
                                    <p>Color</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admins/brand}" class="nav-link brand_click">
                                    <i class="fas fa-award nav-icon"></i>
                                    <p>Brand</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admins/category}" class="nav-link category_click">
                                    <i class="fas fa-align-center nav-icon"></i>
                                    <p>Categories</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admins/promotion}" class="nav-link promotion_click">
                                    <i class="fas fa-ticket-alt nav-icon"></i>
                                    <p>Promotion</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admins/sale}" class="nav-link sale_click">
                                    <i class="fas fa-percent nav-icon"></i>
                                    <p>Sale</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</div>
</body>
</html>