* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
    