<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin_layout/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <style>
        #table-item:hover{
            cursor: pointer;
        }

        #card_info{
            margin-bottom: 30px;
        }
        #sub-cate{
            border-radius: 10px;
            display: none;
            border: 1px solid gray;
        }

        th{
            color: rgb(110, 110, 110);
        }

        #title{
            text-align: center;
            font-weight: bold;
        }
    </style>

</head>
<body>
<div layout:fragment="content">

    <a th:href="@{/category/add}" class ="btn btn-primary m-2">Add Category</a>

    <th:block th:if="${addsub_cate_id != null}">
        <a th:href="@{/category/add-sub/{id}(id = ${cate.id})}" class ="btn btn-primary m-2">Add Sub-Category</a>
    </th:block>
    <div class="row">
        <div class="col-6">
            <ul th:each ="cate : ${listCategories}" class="list-unstyled ml-4">
                <li > <a th:href="@{/category/update/{id}(id = ${cate.id})}"> <span th:text="${cate.getName()}"> </span> </a>
                    <a th:href="@{/category/delete/{id}(id = ${cate.id})}" style="color: red;"> Delete</a>
                    <ul th:each="subcate :${cate.getSub()}" class="list-unstyled ml-2">
                        <li> <a th:href="@{/category/update-sub/{id}(id = ${subcate.id})}"> <span th:text="${subcate.getName()}"></span> </a>
                            <a th:href="@{/category/deleteSub/{id}(id = ${subcate.id})}" style="color: red;"> Delete</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <a th:href="@{/category/delete}" class ="btn btn-danger m-2">Delete All</a>
        </div>

        <div class="col-6">
            <th:block th:if="${flag == null}">
                <th:block th:if="${cate_id == null}">
                    <form action="#" th:action="@{/category/add}" th:object="${cate}" method="post">
                        <label>Name:</label>
                        <input type="hidden" th:field="*{id} " /><br>
                        <input type="text" th:field="*{name} " /><br>
                        <button type="submit">Submit</button>
                    </form>
                </th:block>
                <th:block th:unless="${cate_id == null}">
                    <form action="#" th:action="@{/category/add-sub/{id}(id = ${cate_id})}" th:object="${subCate}" method="post">
                        <label>Name:</label>
                        <input type="hidden" th:field="*{id} " /><br>
                        <input type="text" th:field="*{name} " /><br>
                        <button type="submit">Submit</button>
                    </form>
                </th:block>
            </th:block>

            <th:block th:if="${flag == 2}">
                    <form action="#" th:action="@{/category/update-sub/{id}(id = ${subCate_id})}" th:object="${subCateUpdate}" method="post">
                        <label>Name:</label>
                        <input type="hidden" th:field="*{id} " /><br>
                        <input type="text" th:field="*{name} " /><br>
                        <button type="submit">Submit</button>
                    </form>
            </th:block>
        </div>
    </div>



<!--   Toan -->

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Categories</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-info" id="card_info">
                    <div class="card-header">
                        <h3 class="card-title">New Category</h3>
                    </div>
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <input type="text" class="form-control" placeholder="Enter name" required>
                                    <button type="submit" class="btn btn-outline-success" onclick="Add()">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <table class="table table-hover">
                            <thead>
                            <tr class="table-info">
                                <th scope="col" style="width: 65%;">Name</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody th:each ="cate : ${listCategories}">
                            <tr>
                                <a th:href="@{/category/update/{id}(id = ${cate.id})}"><td th:text="${cate.getName()}" id="table-item">Table</td></a>
                                <td>
                                    <button type="button" id="delete" class="btn btn-outline-danger">Delete</button>
                                    <button type="button" id="sub" class="btn btn-outline-info" onclick="Open()">Sub</button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="col-lg-5" id="sub-cate">
                        <p id="title">Sub-Category</p>
                        <table class="table">
                            <thead>
                            <tr class="table-info">
                                <th style="width: 50%;" scope="col">Name</th>
                                <th style="width: 30%;" scope="col">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Table</td>
                                <td>
                                    <button type="button" id="edit-sub" class="btn btn-outline-primary">Edit</button>
                                    <button type="button" id="delete-sub" class="btn btn-outline-danger">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <button type="button" class="btn btn-danger" onclick="Close()" style="float: right;">Cancel</button>
                    </div>
                </div>


            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

</div>

</body>

</html>
<script>
    var x = document.getElementById("sub-cate");
    function Open(){
        x.style.display = "block";
    }
    function Close(){
        x.style.display = "none";
    }
</script>