<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin_layout/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <style>
        #table-item:hover{
            cursor: pointer;
        }

        #card_info{
            margin-bottom: 30px;
        }
        #sub-cate{
            border-radius: 10px;
            display: none;
            border: 1px solid gray;
        }

        th{
            color: rgb(110, 110, 110);
        }

        #title{
            text-align: center;
            font-weight: bold;
        }
    </style>

</head>
<body >
<div layout:fragment="content">
<!--   Toan -->

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Categories</h1> <a th:href="@{/category/add}" class ="btn btn-primary m-2">Add Category</a>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-info" id="card_info">
                    <th:block th:if="${flag == 1}">
                        <th:block th:if="${cate_id == null}">
                            <div class="card-header">
                                <h3 class="card-title">New Category</h3>
                            </div>
                            <form action="#" th:action="@{/category/add}" th:object="${cate}" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="input-group-prepend">
                                                <input type="hidden" th:field="*{id} " />
                                                <input type="text" th:field="*{name} " class="form-control" placeholder="Enter Category" required />
                                                <button type="submit" class="btn btn-outline-success" onclick="Add()">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </th:block>
                        <th:block th:unless="${cate_id == null}">
                            <div class="card-header">
                                <h3 class="card-title">New Sub Category</h3>
                            </div>
                            <form action="#" th:action="@{/category/add-sub/{id}(id = ${cate_id})}" th:object="${subCate}" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="input-group-prepend">
                                            <input type="hidden" th:field="*{id} " />
                                            <input type="text" th:field="*{name} " class="form-control" placeholder="Enter Sub Category" required />
                                            <button type="submit" class="btn btn-outline-success" onclick="Add()">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${flag == 1}">
                        <th:block th:if="${cate != null}">
                            <div class="card-header">
                                <h3 class="card-title">Update Category</h3>
                            </div>
                            <form action="#" th:action="@{/category/add}" th:object="${cate}" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="input-group-prepend">
                                            <input type="hidden" th:field="*{id} " />
                                            <input type="text" th:field="*{name} " class="form-control" required />
                                            <button type="submit" class="btn btn-outline-success" onclick="Add()">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </th:block>
                        <th:block th:if="${subCateUpdate != null}">
                            <div class="card-header">
                                <h3 class="card-title">Update Sub Category</h3>
                            </div>
                            <form action="#" th:action="@{/category/update-sub/{id}(id = ${subCateUpdate.id})}" th:object="${subCateUpdate}" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="input-group-prepend">
                                            <input type="hidden" th:field="*{id} " />
                                            <input type="text" th:field="*{name} " class="form-control" required />
                                            <button type="submit" class="btn btn-outline-success" onclick="Add()">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </th:block>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <table class="table table-hover">
                            <thead>
                            <tr class="table-info">
                                <th scope="col" style="width: 80%;">Name</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody th:each ="cate : ${listCategories}">
                            <tr>
                                <td id="table-item">
                                    <a th:href="@{/category/update/{id}(id = ${cate.id})}"  >
                                    <div th:text="${cate.getName()}"></div>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/category/delete/{id}(id = ${cate.id})}" class="btn btn-outline-danger"> Delete</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <th:block th:if="${showCate!= null}">
                        <div class="col-lg-5" id="sub-cate">
                            <a th:href="@{/category/add-sub/{id}(id = ${showCate.id})}" class ="btn btn-primary m-2">Add Sub-Category</a>
                            <span id="title" style="margin-left: 100px">Sub-Category</span>
                            <span class="btn " id="closeSub" style="float: right;">X</span>
                            <table class="table">
                                <thead>
                                <tr class="table-info">
                                    <th th:text="${showCate.getName()}" style="width: 80%;" scope="col">Name</th>
                                    <th style="width: 30%;" scope="col">&nbsp;</th>
                                </tr>
                                </thead>

                                    <tbody th:each="subcate :${showCate.getSub()}">
                                    <tr >
                                         <td id="openSub">
                                             <a th:href="@{/category/update-sub/{id}(id = ${subcate.id})}"  >
                                             <div th:text="${subcate.getName()}"></div>
                                             </a>
                                         </td>
                                        <td>
                                            <a th:href="@{/category/deleteSub/{id}(id = ${subcate.id})}" class="btn btn-outline-danger" > Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>

                            </table>
                            <br>

                        </div>
                    </th:block>
                </div>


            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

</div>

</body>

</html>

<script>
    $(document).ready(function(){
        if(document.getElementById("sub-cate") != null){
            var x = document.getElementById("sub-cate");
            x.style.display = "block";

            $("#closeSub").click(function(){
                x.style.display = "none";
            });
        }

    });
</script>
