<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin_layout/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<div layout:fragment="content">

    <a th:href="@{/category/add}" class ="btn btn-primary m-2">Add Category</a>

    <th:block th:if="${addsub_cate_id != null}">
        <a th:href="@{/category/add-sub/{id}(id = ${cate.id})}" class ="btn btn-primary m-2">Add Sub-Category</a>
    </th:block>
    <div class="row">
        <div class="col-6">
            <ul th:each ="cate : ${listCategories}" class="list-unstyled ml-4">
                <li > <a th:href="@{/category/update/{id}(id = ${cate.id})}"> <span th:text="${cate.getName()}"> </span> </a>
                    <a th:href="@{/category/delete/{id}(id = ${cate.id})}" style="color: red;"> Delete</a>
                    <ul th:each="subcate :${cate.getSub()}" class="list-unstyled ml-2">
                        <li> <a th:href="@{/category/update-sub/{id}(id = ${subcate.id})}"> <span th:text="${subcate.getName()}"></span> </a>
                            <a th:href="@{/category/deleteSub/{id}(id = ${subcate.id})}" style="color: red;"> Delete</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <a th:href="@{/category/delete}" class ="btn btn-danger m-2">Delete All</a>
        </div>

        <div class="col-6">
            <th:block th:if="${flag == null}">
                <th:block th:if="${cate_id == null}">
                    <form action="#" th:action="@{/category/add}" th:object="${cate}" method="post">
                        <label>Name:</label>
                        <input type="hidden" th:field="*{id} " /><br>
                        <input type="text" th:field="*{name} " /><br>
                        <button type="submit">Submit</button>
                    </form>
                </th:block>
                <th:block th:unless="${cate_id == null}">
                    <form action="#" th:action="@{/category/add-sub/{id}(id = ${cate_id})}" th:object="${subCate}" method="post">
                        <label>Name:</label>
                        <input type="hidden" th:field="*{id} " /><br>
                        <input type="text" th:field="*{name} " /><br>
                        <button type="submit">Submit</button>
                    </form>
                </th:block>
            </th:block>
            <th:block th:if="${flag == 2}">
                    <form action="#" th:action="@{/category/update-sub/{id}(id = ${subCate_id})}" th:object="${subCateUpdate}" method="post">
                        <label>Name:</label>
                        <input type="hidden" th:field="*{id} " /><br>
                        <input type="text" th:field="*{name} " /><br>
                        <button type="submit">Submit</button>
                    </form>
            </th:block>
        </div>
    </div>
</body>
</html>