<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin_layout/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Orders</h1>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Catalog</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-info " id="card_info">
        <form action="#" th:action="@{/admins/order/searchOrder}"  method="get">
            <div class="row mb-3">
                <div class="col-lg-2">
                    <div class="card-body px-5">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">ID</label>
                            <div class="col-sm-6">
                                <th:block th:if="${id != null}">
                                    <input type="number"  id="id" name = "id" th:value="*{id}" class="form-control" placeholder="ID" >
                                </th:block>
                                <th:block th:unless="${id != null}">
                                    <input type="number"  id="id" name = "id" class="form-control" placeholder="ID" >
                                </th:block>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card-body px-5">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <th:block th:if="${name != null}">
                                    <input type="text"  id="name" name = "name"  th:value="*{name}" class="form-control" placeholder="Enter name" >
                                </th:block>
                                <th:block th:unless="${name != null}">
                                    <input type="text"  id="name" name = "name"  class="form-control" placeholder="Enter name" >
                                </th:block>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-body px-5">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <th:block th:if="${address != null}">
                                    <input type="text"  id="address" name = "address" th:value="*{address}" class="form-control" placeholder="Enter address" >
                                </th:block>
                                <th:block th:unless="${address != null}">
                                    <input type="text"  id="address" name = "address" class="form-control" placeholder="Enter address" >
                                </th:block>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-2">
                    <div class="card-body px-5">
                        <div class="row">
                            <label class="col-sm-4 col-form-label">Date</label>
                            <div class="col-sm-6">
                                <input type="date" id="date" name ="date" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-body px-5">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Total</label>
                            <div class="col-sm-10">
                                <th:block th:if="${total != null}">
                                    <input type="number"  id="total" name ="total" th:value="*{total}" class="form-control" placeholder="Total">
                                </th:block>
                                <th:block th:unless="${total != null}">
                                    <input type="number"  id="total" name ="total" class="form-control" placeholder="Total">
                                </th:block>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-body px-5">
                        <div class="form-group row">
                            <button type="submit" class="btn btn-outline-success float-sm-right" >Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Address</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col">List of products</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pro : ${listOrder}">
                    <td scope="row"><span th:text="${pro.id}"></span></td>
                    <td><span th:text="${pro.user.getName()}"></span></td>
                    <td><span th:text="${pro.user.getAddress()}"></span></td>
                    <td><span th:text="${pro.getCreatedAt()}"></span></td>
                    <td><span th:text="${'$ ' + pro.getTotal()}"></span></td>
                    <td>
                        <div th:if="${pro.getStatus() == 0}">
                            <p style="text-align: center; background: #FFFF66; padding: 5px; color: black; border-radius: 7px">Pending</p>
                        </div>
                        <div th:unless="${pro.getStatus() == 0}">
                            <p style="text-align: center; background: limegreen; padding: 5px; color: white; border-radius: 7px">Approved</p>
                        </div>
                    </td>
                    <td style="text-align: center">
                        <a style="color: white" th:href="@{/admins/order/{id}(id = ${pro.id})}">
                            <button type="button" class="btn btn-info" >Detail</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</div>
</body>
</html>