<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin_layout/admin_layout}">

<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <style>
        #label{
            text-align: right;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="row">
                        <h1 class="m-0 text-dark">Orders</h1>
                        <button type="button" id="search_button" class="btn btn-primary" onclick="search()" style="margin-left: 20px">
                            <i class="fas fa-search"></i>
                            <span style="margin-left: 5px"> Search</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Catalog</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-info " id="card_info">
        <form action="#" th:action="@{/admins/order/searchOrder}"  method="get" id="search_form" th:style="${display} ? 'display:block':'display: none;'">
            <div class="row" style="margin-top: 30px; margin-right:20px">
                <div class="col-lg-4">
                    <div class="row">
                        <span class="col-lg-3 col-form-label" id="label">ID</span>
                        <div class="col-lg-9">
                            <th:block th:if="${id != null}">
                                <input type="number"  id="id" name = "id" th:value="*{id}" class="form-control" placeholder="ID" >
                            </th:block>
                            <th:block th:unless="${id != null}">
                                <input type="number"  id="id" name = "id" class="form-control" placeholder="ID" >
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group row">
                        <span class="col-lg-3 col-form-label" id="label">Name</span>
                        <div class="col-lg-9">
                            <th:block th:if="${name != null}">
                                <input type="text"  id="name" name = "name"  th:value="*{name}" class="form-control" placeholder="Enter name" >
                            </th:block>
                            <th:block th:unless="${name != null}">
                                <input type="text"  id="name" name = "name"  class="form-control" placeholder="Enter name" >
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group row">
                        <span class="col-lg-3 col-form-label" id="label">Address</span>
                        <div class="col-lg-9">
                            <th:block th:if="${address != null}">
                                <input type="text"  id="address" name = "address" th:value="*{address}" class="form-control" placeholder="Enter address" >
                            </th:block>
                            <th:block th:unless="${address != null}">
                                <input type="text"  id="address" name = "address" class="form-control" placeholder="Enter address" >
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px; margin-right:20px">
                <div class="col-lg-4">
                    <div class="form-group row">
                        <span class="col-lg-3 col-form-label" id="label">Total</span>
                        <div class="col-lg-9">
                            <th:block th:if="${total != null}">
                                <input type="number"  id="total" name ="total" th:value="*{total}" class="form-control" placeholder="Total">
                            </th:block>
                            <th:block th:unless="${total != null}">
                                <input type="number"  id="total" name ="total" class="form-control" placeholder="Total">
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group row">
                        <span class="col-lg-3 col-form-label" id="label">Status</span>
                        <div class="col-lg-9">
                            <select class="form-control" id = "status" name = "status" >
                                <option th:selected="${#strings.equals(status,'All')}" value="All">All</option>
                                <option th:selected="${#strings.equals(status,'0')}" value="0">Pending</option>
                                <option th:selected="${#strings.equals(status,'1')}" value="1">Approved</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <span class="col-lg-3 col-form-label" id="label">Date</span>
                        <div class="col-lg-9">
                            <th:block th:if="${date != null}">
                                <input type="date" id="date" th:value="*{date}" name ="date" >
                            </th:block>
                            <th:block th:unless="${date != null}">
                                <input type="date" id="date" name ="date" >
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
                <button type="submit" class="btn btn-outline-success float-sm-right" style="text-align: right; margin-right: 60px; margin-bottom: 20px">Search</button>
        </form>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Address</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col">List of products</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pro : ${listOrder}">
                    <td scope="row"><span th:text="${pro.id}"></span></td>
                    <td><span th:text="${pro.user.getName()}"></span></td>
                    <td><span th:text="${pro.user.getAddress()}"></span></td>
                    <td><span th:text="${pro.getCreatedAt()}"></span></td>
                    <td><span th:text="${'$ ' + pro.getTotal()}"></span></td>
                    <td>
                        <div th:if="${pro.getStatus() == 0}">
                            <p style="text-align: center; background: #FFFF66; padding: 5px; color: black; border-radius: 7px">Pending</p>
                        </div>
                        <div th:unless="${pro.getStatus() == 0}">
                            <p style="text-align: center; background: limegreen; padding: 5px; color: white; border-radius: 7px">Approved</p>
                        </div>
                    </td>
                    <td style="text-align: center">
                        <a style="color: white" th:href="@{/admins/order/{id}(id = ${pro.id})}">
                            <button type="button" class="btn btn-info" >Detail</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</div>
</body>
</html>
<script>
    function search(){
        // document.getElementById("search_form").style.display(block);
        var x = document.getElementById("search_form");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>