<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin_layout/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <style>
        #des{
            color: grey;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        img{
            border-radius: 10px 0px 0px 10px;
        }

        #button_dl, #button_ed{
            color: red;
            float: right;
            letter-spacing: 2px;
            padding-right: 30px;
            padding-top: 50%;
        }
        #button_dl:hover, #button_ed:hover{
            cursor: pointer;
            color: royalblue;
        }
        #cus_info{
            padding-top: 20px;
        }
        li{
            list-style: none;
        }

        #item{
            margin-bottom: 20px;
            background-color: rgb(233, 233, 233);
            border-radius: 10px;
            transition: 0.5s;
        }
        #item:hover{
            -webkit-box-shadow: 8px 8px gray;
            -moz-box-shadow:  8px 8px gray;
            box-shadow:  10px 10px gray;
            transition: 0.5s;
        }

        button{
            margin-right: 20px;
            border-radius: 10px;
        }
        #form_info{
            display: none;
        }
        #listUser{
            display: block;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Product</h1>
                    <div class="row mb-2">
                        <div class="col-sm-6" id="add">
                            <button type="button" class ="btn btn-primary m-2"  onclick="showForm()">
                                <i class="fas fa-plus"></i>
                                Add Product
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Catalog</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ol>
                </div>
            </div>
            <!-- form start -->
            <form role="form" id="form_info" th:action="@{${isAdd}?'/product/save':'/category/update'}" th:object="${product}" method="post" enctype="multipart/form-data">

                    <!--Message-->
                    <!--Success-->
                    <div class="alert alert-success alert-dismissible fade show" th:if="${success}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong th:text="${success}"></strong>
                    </div>

                    <!--Error-->
                    <div class="alert alert-danger alert-dismissible fade show" th:if="${error}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong th:text="${error}"></strong>
                    </div>



                    <div class="row">
                        <!--Column 9-->
                        <div class="col-lg-9">
                            <div class="card card-info block" style="display: block" id="card_info">
                                <div class="card-body">
                                        <div class="form-group">
                                            <label>Image</label>
                                            <br>
                                            <input type="file" id="exampleInputFile" th:field = "*{files}" multiple="multiple">
                                        </div>

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" id = "name" class="form-control" placeholder="Enter name" th:field = "*{name}" required >
                                        </div>

                                        <div class="form-group">
                                            <label>Material</label>
                                            <input type="text" id = "material" class="form-control" placeholder="Enter name" th:field = "*{material}" required >
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select id="subCate" th:field="*{subCategory}" class="form-control">
                                                        <option th:each="subCategory: ${listSubcate}" th:value="${subCategory.id}" th:text="${subCategory.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Color</label>
                                                    <select id="color" th:field="*{color}" class="form-control">
                                                        <option th:each="color: ${listColor}" th:value="${color.id}" th:text="${color.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Brand</label>
                                                    <select id="brand" th:field="*{brand}" class="form-control">
                                                        <option th:each="brand: ${listBrand}" th:value="${brand.id}" th:text="${brand.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" id = "description" rows="8" placeholder="Enter description" th:field = "*{description}" required></textarea>
                                        </div>
                                </div>
                                <div class="card-footer">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-outline-success" th:text = "${isAdd}?'Save':'Update'" ></button>
                                        <button type="button" class="btn btn-outline-danger" onclick="showForm()">Back</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--Column 3-->
                        <div class="col-lg-3">
                            <div class="card card-info block" style="display: block">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                    <input type="number" class="form-control" id = "price" min="1" placeholder="Enter price" th:field = "*{price}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Quantity</label>
                                            <input type="number" class="form-control" min="1" placeholder="Enter quantity"  th:field = "*{quantity}" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Height</label>
                                                <input type="number" id = "height" class="form-control" min="1" placeholder="Enter height" th:field = "*{height}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Length</label>
                                                <input type="number" id = "length" class="form-control" min="1" placeholder="Enter length" th:field = "*{length}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>
            </form>
        </div>

        <div  id="listUser">
            <ul th:each="pro, custStat : ${productList}">
                <li id="item">
                    <div class="row">
                        <div class="col-lg-3">
                            <div th:with="img=${listImg.get(custStat.index).getModifiedFileName()}">
                                <img th:src="@{${'/images/' + img}}" style="width: 250px;">
                            </div>
                        </div>
                        <div class="col-lg-7" id="cus_info">
                            <h4 th:text="${pro.name}"></h4>
                            <p th:text="${pro.description}" id="des"></p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <table>
                                        <tr>
                                            <th>Price:</th>
                                            <td th:text="${pro.price}"></td>
                                        </tr>
                                        <tr>
                                            <th>Height: </th>
                                            <td th:text="${pro.height}"></td>
                                        </tr>
                                        <tr>
                                            <th>Length: </th>
                                            <td th:text="${pro.length}"></td>
                                        </tr>
                                        <tr>
                                            <th>Brand:</th>
                                            <td th:text="${pro.brand.name}"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-8">
                                    <table>
                                        <tr>
                                            <th>Category:</th>
                                            <td th:text="${pro.subCategory.name}"></td>
                                        </tr>
                                        <tr>
                                            <th>Color:</th>
                                            <td th:text="${pro.color.name}"></td>
                                        </tr>
                                        <tr>
                                            <th>Quantity:</th>
                                            <td th:text="${pro.quantity}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2">
                            <a id="button_dl">Delete</a>
                            <a id="button_ed" th:href="@{'/product/edit/' + ${pro.id}}"> <i class="fa fa-edit" style="font-size: 21px;"></i> </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <script>
        function showForm() {
            var x = document.getElementById("form_info");
            var y = document.getElementById("listUser");
            if (x.style.display === "none" && y.style.display=== "block") {
                x.style.display = "block";
                y.style.display = "none";
            } else {
                x.style.display = "none";
                y.style.display = "block";
            }
        }
    </script>
</div>
</body>
</html>
