*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.about
{
    font-family: sans-serif;
    display: grid;
    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
}
.about .container-fluid{
    padding: 0;
}
.about section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vm;
    margin: 0 auto;
}
.about .image
{
    background: url("background.jpg") center/cover no-repeat;
}
.about .content
{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about .content h2
{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.about .content span
{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.about .content p
{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.6;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}
.about .icon
{
    display: flex;
    padding: 15px 0;
}
.about .icon li
{
    display: block;
    padding: 5px;
    margin: 5px;
}
.about .icon li i
{
    font-size: 26px;
    opacity: 0.8;
}
.about .icon li i:hover
{
    color: #06d6a0;
}

.about .team-section
{
    overflow: hidden;
    text-align: center;
    background:  #595959;
    padding: 60px 60px 180px;

}
.about .team-section h1
{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}
.about .border
{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: white;
    margin-bottom: 40px;
}
.about .ps
{
    margin-bottom: 40px;
}
.about .ps a
{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.about .ps a img
{
    width: 100%;

}
.about .ps a:hover >img
{
    filter: none;

}
.about .section
{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color:white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}
.about .section:target
{
    height: auto;

}
.about .name
{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.ab nav .icon-search{
    color: #fff;
}
/*.ab nav{*/
/*    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);*/

/*}*/
/*.ab nav .color a {*/
/*    text-decoration: none;*/
/*    color: #999;*/
/*}*/
/*!*,.ab nav .icon-search*!*/
/*.ab nav a {*/
/*    text-decoration: none;*/
/*    color: #999;*/
/*    font-size: 20px;*/
/*}*/
/*.ab nav .login{*/
/*    color: #999;border-color: #999;*/
/*}*/

@media(max-width: 992px)
{
    .about section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .about .image{
        height: 100vh;
    }
    .about .content{
        height: 100vh;
    }
    .about .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .about .content span{
        margin: 20px 0;
    }
    .about .content p{
        font-size: 14px;
    }
    .about .icon li i{
        font-size:15px;
    }
    .about .section{
        text-align: center;
    }
    .about .team-section{
        width: 100%;
    }
}

