body{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}
/* heart */
.heart i.fa-heart{
    color: red;
}
.heart {
    animation: heart 0.5s linear;
}
@keyframes heart{
    0%{
        transform: rotate(0deg) scale(1.7);
    }
    40%{
        transform: rotate(0deg) scale(1);
    }
    41%{
        transform: rotate(360deg) scale(1);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}

#btn_heart{
    float: right;
    background: transparent;
    border-width: 0;
    padding-right: 10px;
    color: gray;
}
#btn_heart:focus{
    outline: none;
}
#price{
    /* color: red; */
    font-weight: bolder;
    font-size: 25px;
}

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:40px;
    width:40px;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
    font-size: 25px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
    font-size: 25px;
}
.input-qty {
    background-color:#fff;
    height:40px;
    text-align:center;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
    font-size: 18px;
}
.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#product_img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.carousel-item{
    height: 450px;
}
.buttons{
    letter-spacing: 30px;
}

/* Card */
.container1{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.card{
    border: 0;
}

.container1 .card{
    position: relative;
    cursor: pointer;
}

.container1 .card .face{
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.container1 .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container1 .card:hover .face.face1{

    transform: translateY(0);
}

.container1 .card .face.face1 .content{
    transition: 0.5s;
}

.container1 .card:hover .face.face1 .content{
    opacity: 1;
}

.container1 .card .face.face1 .content img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.container1 .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container1 .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container1 .card:hover .face.face2{
    transform: translateY(0);
}

.container1 .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.container1 .card a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;

}

.container1 .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
th{
    width: 20%;
}
p{
    font-size: 18px;
}